<div>
  <form #knifeCreateForm [formGroup]="knifeForm" novalidate>

    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Name">
    </mat-form-field>
    <div formGroupName="primaryImage">
      <p>Primary Image</p>
      <mat-form-field>
        <input matInput type="text" formControlName="description">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="url">
      </mat-form-field>
    </div>

    <button mat-button type="button" (click)="addKnife()">Create</button>
  </form>

  <p>
    The created knife will not be published - just creating a starting point.
    <i>TODO: make that statement true</i>
  </p>
  <!-- <p>
    The id - {{knifeToAdd.name}} - will be in the URL displayed to the user. It cannot change. It must be unique.
  </p> -->

  <p class="todo">
    Disable form on click. Redirect to edit page.
  </p>
</div>
