<form #knifeEditForm [formGroup]="knifeForm" (ngSubmit)="updateKnife()" novalidate>

  <!-- TODO : figure out how to wait for observable to return, loading otherwise -->
  <p>Knife ID : {{knifeId}}</p>

  <mat-divider></mat-divider>

  <div class="knife-info" *ngIf="(knife | async) as k">

    <div>
      <mat-form-field>
        <input matInput type="text" formControlName="name" placeholder="Name">
      </mat-form-field>
      <p class="error is-danger" [hidden]="knifeForm.get('name').valid">
        Name is required
      </p>

      <div>
        <p>Primary Image</p>
        <app-knife-image-upload [formGroup]="knifeForm.controls.primaryImage"></app-knife-image-upload>
      </div>


      <div formArrayName="additionalImages">
        <div *ngFor="let additionalImage of additionalImages.controls; let i=index" [formGroupName]="i">
          <p>Additional Image {{i + 1}}</p>
          <button type="button" mat-icon-button (click)="removeAdditionalImage( i )">
            delete
          </button>
          <app-knife-image-upload [formGroup]="knifeForm.controls.additionalImages.controls[i]"></app-knife-image-upload>
        </div>
      </div>
      <button mat-button type="button" (click)="addAdditionalImage()">Add Additional Image</button>

    </div>

    <div>
      <p>Form value:    {{ knifeForm.value | json}}</p>
      <p>Form status:   {{ knifeForm.status | json}}</p>
    </div>

  </div>

  <mat-divider></mat-divider>

  <button mat-button [disabled]="knifeForm.pristine" type="submit">Edit Knife</button>
  <button mat-button type="reset" (click)="revert()"
            [disabled]="knifeForm.pristine" class="btn btn-danger">Revert</button>
</form>
