<mat-sidenav-container>
  <mat-sidenav #sidenav position="start" (opened)="closeStartButton.focus()">
    <!-- sidenav content -->
    <mat-toolbar color="primary" fxLayout="row">
      <h2>Navigation <button mat-button #closeStartButton (click)="sidenav.close()"><mat-icon>keyboard_arrow_left</mat-icon></button></h2>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/knives" routerLinkActive="active" (click)="sidenav.close()">Knives</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">About</a>
      <!-- <a mat-list-item routerLink="" routerLinkActive="active" (click)="sidenav.close()">Contact</a> -->
      <!-- TODO : Contact form https://medium.com/@markgoho/create-a-contact-form-in-angular-using-cloud-functions-for-firebase-5e390bdf5600 -->
      <!-- <a mat-list-item routerLink="" routerLinkActive="active" (click)="sidenav.close()">Maker Tools</a> -->
      <!-- <button mat-button #closeStartButton (click)="sidenav.close()">Close <mat-icon>keyboard_arrow_left</mat-icon></button> -->
    </mat-nav-list>
  </mat-sidenav>

  <!-- primary content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <a routerLink="/">
        <!-- TODO : remove inline style in favor of flex, class, or other -->
        <img src="/assets/images/cutleaf-leaf-text-transparent.png" 
            alt="CutLeaf Logo with Text" 
            class="header-image">
      </a>

      <span fxFlex="flex"></span>


      <ng-container *ngIf="afAuth.user | async as user">
        <span fxHide fxShow.gt-sm>
          <small>{{ user.email }} </small>
        </span>
        <img *ngIf="user.photoURL" class="user-image" src="{{ user.photoURL }}">
      </ng-container>

      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="logout()" *ngIf="afAuth.user | async">Logout</button>
        <button mat-menu-item (click)="login()" *ngIf="!(afAuth.user | async)">Login</button>
      </mat-menu>
      <!-- <mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="logout()" *ngIf="afAuth.user | async; else login">Logout</button>
        <ng-template #login>
          <button mat-menu-item (click)="login()">Login</button>
        </ng-template>
      </mat-menu> -->

      <button mat-button [matMenuTriggerFor]="loginMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
