<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav position="start" (open)="closeStartButton.focus()">
    <!-- sidenav content -->
    <mat-toolbar color="primary" fxLayout="row">
      <h2>Navigation</h2>
    </mat-toolbar>


    <mat-nav-list>
      <a mat-list-item routerLink="/knives" routerLinkActive="active" (click)="sidenav.close()">Knives</a>
      <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">About</a>
      <a mat-list-item routerLink="" routerLinkActive="active" (click)="sidenav.close()">Contact</a>
      <!-- <a mat-list-item routerLink="" routerLinkActive="active" (click)="sidenav.close()">Maker Tools</a> -->
      <button mat-button #closeStartButton (click)="sidenav.close()">Close <mat-icon>keyboard_arrow_left</mat-icon></button>
    </mat-nav-list>
  </mat-sidenav>

  <!-- primary content -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>

      <span>
        <mat-icon svgIcon="cutleaf-logo"></mat-icon>
        <img src="//res.cloudinary.com/cutleaf-studios/image/upload/logo/cutleaf-text.svg" alt="CutLeaf Logo Text">
      </span>

      <span fxFlex="flex"></span>

      <mat-menu #loginMenu="matMenu">
        <button mat-menu-item (click)="login()" *ngIf="!(user | async)">Login</button>
        <button mat-menu-item (click)="logout()" *ngIf="(user | async)">Logout</button>
      </mat-menu>

      <button mat-button [matMenuTriggerFor]="loginMenu">
        <mat-icon>more_vert</mat-icon>
      </button>

      <ng-container *ngIf="user | async; let u">
        <span fxHide fxShow.gt-sm>
          <small>{{ u.email }} </small>
        </span>
        <img *ngIf="u.photoURL" src="{{ u.photoURL }}" style="width:24px;height:24px;">
      </ng-container>


    </mat-toolbar>

    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>
