// TODO : mixins for steel color and other reusable variables
.blade-stock {
  fill: #AAAAAA;
}

.blade-remaining {
  fill: #EEEEEE;
}

.blade-edge-margin {
  fill: red;
  opacity: 0.5;
}

.blade-angle-wheel {
  fill: black;
  opacity: 0.5;
}
